@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gochi+Hand&display=swap');
.donation-box {
    background: #B3E6FD;
    box-shadow: 0px 4px 4px rgba(179, 230, 253, 0.25);
    border-radius: 30px;
    /* position: absolute; */
    width: 60vw;
    height: 15vh;
    margin-left: 1vw;
    margin-top: 3vh;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    display: flex;
    align-items: center;
    /* text-align: center; */
    justify-content: space-around;
    color: #000000;
}

button {
    background: #FFBC40;
    box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
    border-radius: 10px;
    width: 8vw;
    height: 6vh;
}

body {
    background: #8ACAE6;
}

h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    font-family: 'Gochi Hand', cursive;
    margin-left: 3vw;
}

#add-new {
    background: #FFBC40;
    box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
    border-radius: 10px;
    width: auto;
    height: auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    margin-left: 3vw;
}

.editDonation{
    position: absolute;
    width: 30%;
    height: 50%;
    left: 66%;
    background: #B3E6FD;
    top: 18vh;
    justify-content: space-around;
    border-radius: 30px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 36px;
    display: flex;
    margin: 20px;

}
.selectInput{
  background: #FFFFFF;
   width: 50%;
   /* display: none; */
   position: relative;
   box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
   border-radius: 10px;
   -webkit-appearance: none;

}

.donateBox {
    position: absolute;
    width: 33%;
    height: 65%;
    left: 66%;
    /* right: 10%;
    top: 10%; */
    
    
    background: rgba(2, 163, 232, 0.4);
    border: 10px solid #02A3E8;
    border-radius: 30px;
    font-family: 'Fredoka One', cursive;
    font-family: 'Gochi Hand', cursive;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 30px;
}


.donateButton{
    background: #FFBC40;
    box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
    border-radius: 10px;
    width: 90%;
    height: auto;
    font-family: 'Fredoka One', cursive;
    font-family: 'Gochi Hand', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 32px;
    /* margin-right: 3vw; */
}

.select{
    background-color:#02A3E8;
    width: 60%;
    /* display: none; */
    position: relative;
    font-family: 'Gochi Hand', cursive;
    box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
    border-radius: 10px;
    -webkit-appearance: none;
    /* background: url(/assests/triangle.png) no-repeat right #ddd; */
}


