@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');



a.menuItem:hover {
    color: rgba(0, 124, 177, 0.856);
}

.map {
    text-align: center;
    /* position: absolute;
    width: 100%;
    height: 500px;
    left: 320px;
    top: 90px; */
}

.bestText{
    /* position: absolute; */
    font-size: 45px;
    color: white;
    /* top: 370px;
    left: 240px; */
    font-family: 'Roboto Condensed', sans-serif;
    
}
.donateText{
    /* position: absolute; */
    font-size: 25px;
    color: white;
    /* top: 435px;
    left: 360px; */
    font-family: 'Roboto Condensed', sans-serif;
}
.button {
    
    border-radius: 5px;
    background-color: #FFBC40;
    font-size: larger;
    text-align: center;
    /* position: absolute; */
    width: 130px;
    height: 30px;
    /* left: 530px;
    top: 500px; */
    

}

.button:hover{
    background-color: rgb(231, 161, 31);
}

