<!DOCTYPE html>
<html>

<head>
</head>

<body>
        <nav class="navbar navbar-light" style="background-color: rgba(2, 163, 232, 0.4);">
        <a class="navbar-brand mr-1" href="#"><img src="/assets/DAD_logo.png" style="width: 50%;"></a>
        <ul class="nav navbar-justified navbar-right ml-auto" style="margin-right: 3%;">
            <li class="nav-item">
                <a class="nav-link menuItem" href="#">DONATE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menuItem" href="#">LOCATE HELP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menuItem" href="#">SEEK DONATIONS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link menuItem" href="#">SIGN-UP</a>
            </li>
        </ul>
    </nav>

    <section>

        <div class="pin">
            <img src="/assets/LOGO.png" style="width: 45%;">
        </div>
        <div class="boxes">
            <img src="/assets/Stop-Sending-Food-2.png" style="width: 65%;">
        </div>
        <div class="registerBox">
            <p style="font-size: xx-large; text-align: center; padding-top: 3%;">Sign In</p>
        </div>
    </section>

</body>

</html>