/* Nav bar  */
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Nav bar links */
li{
    padding: 10px;
    display: inline;
    

}

/* Link text properties */
li a{
    color: #ffffff;
    font-family: Helvetica;
    font-weight: 900;
    font-size: 35px;
    text-decoration: none;
}

li a:hover{
    color:  #cecece;
}

/* Overall body of the page */
body{
    margin: 0;
    padding: 0;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: rgba(0, 124, 177, 0.856);
}


/* Login Box*/
.box{
    width: 400px;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #191919;
    text-align: center;
    border-radius: 10px;

}

/* Box Header*/ 
.box h1{
    color: #bdbdbd;
    font-weight: 500;
    font-size: 20px;
}

/* Username text box*/ 
.box input[type = 'text']{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2583c2;
    padding: 10px 10px;
    width: 70%;
    outline: none;
    border-radius: 24px;
    transition: 0.20s;
    color: white;
}
.box input[type = 'text']:focus{
    width: 80%;
}

/* Submit button properties */
.box input[type = 'submit']{
    border: 0;
    background: none;
    width: 60%;
    height: 40px;
    margin: 20px auto;
    border-radius: 20px;
    border: 2px solid #035a27;
    color: white;
    transition: 0.30s;
}
.box input[type = 'submit']:hover{
    width: 80%;
    height: 40px;
    background-color: #035a27
}