<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' media="screen" href='login.component.css'>
   
</head>
<body>
    <header>
        <nav>
            <ul>
                <!-- TODO   make logo link that goes to main page, and align text links inside header properly  -->
                <!-- <a href="/"><img name="logo" src="../../assets/DAD_logo.png"></a> -->
                <li><a href="/">HomePage</a></li>
                <li><a href="/">Donate</a></li>
                <li><a href="/">Seek help</a></li>
            </ul>
        </nav>
    
</header>
    <!-- TODO adjust box properties to be located in wanted position -->
    <form class="box" action="index.html" method="post">
        <h1>Enter your username and password</h1>
        <input type="text" name="username" placeholder="john.doe1234">
        <input type="text" name="password" >
        <input type="submit" name="" value="Enter">
    </form>
</body>
</html>