<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel='stylesheet' media="screen" href='login.component.css'>
   
</head>
<body>
    <header>
        <nav>
            <ul>
                <div><a href="/">Home Page</a></div> 
            </ul>
        </nav>
    
</header>

    <form class="box" action="index.html" method="post">
        <h1>Enter your username and password</h1>
        <input type="text" name="username" placeholder="john.doe1234">
        <input type="text" name="password" >
        <input type="submit" name="" value="Enter">
    </form>
</body>
</html>