@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

button {
  background: #FFBC40;
  box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
  border-radius: 10px;
  position: static;
  width: 8vmax;
  height: 4vmax;
}

/*
  Avoiding overlap of labels over input
 */
label{
  padding-right: 2px;
}

/*
  Aligns the input boxes
 */
input{
  float: right;
  clear: both;
}


.request-box {
  flex-wrap: wrap;
  background: #B3E6FD;
  box-shadow: 0px 4px 4px rgba(179, 230, 253, 0.25);
  border-radius: 30px;
  position: static;
  width: 80vw;
  height: 15vh;
  margin: 10px auto 10px auto;
  text-autospace: ideograph-space;
  font-family: Poppins;
  font-style: normal;
  word-spacing: 50%;
  font-size: 1.5em;
  line-height: 32px;
  display: inline-flex;
  word-break: normal;
  word-wrap: break-spaces;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: #000000;
}
button#request-box{
  position: static;
  float: right;
}

form{
  border: 3px solid gray;
  float: right;
  position: static;
  padding: 1em;

}
body {
  background: #8ACAE6;
}

h2 {
  /* border: 3px solid red; */
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  font-family: 'Gochi Hand', cursive;
  margin-left: 3vw;
}

#add-new {
  background: #FFBC40;
  box-shadow: 0px 4px 4px rgba(255, 188, 64, 0.25);
  border-radius: 10px;
  width: auto;
  height: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 32px;
  margin-left: 3vw;
  margin-bottom: 1vw;
}

