<html>
<nav class="navbar navbar-light" style="background-color: rgba(2, 163, 232, 0.4);">
  <a class="navbar-brand mr-1" href="#"><img src="/assets/DAD_logo.png" style="width: 50%;"></a>
  <ul class="nav navbar-justified navbar-right ml-auto" style="margin-right: 3%;">
    <li class="nav-item">
      <a class="nav-link menuItem" routerLink="/my-donations">DONATE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menuItem"  href="/seek-donations">SEEK DONATIONS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link menuItem" href="/home">HOME</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link menuItem"  routerLink="/register" routerLinkActive="active">SIGN-UP</a>
    </li> -->
  </ul>
</nav>

<h2>My Requests:</h2>


<ul id="request-list" style="text-align: center;">
  <div class="request-box" *ngFor="let request of requestList">
    <span><img src="../assets/{{request.supplyName}}.png" width="40px"></span>
    <span>Supply: {{request.supplyName}}</span>
    <span> Quantity: {{request.donation.quantity}}</span>
    <span>Requested: {{request.time.substring(0,16)}} </span>
    <span>Status: {{request.status}}</span>
    <span *ngIf="request.status != 'Delivered'">
      <button id="edit-btn" (click)="cancelRequest(request.rid)">Cancel</button>
    </span>
  </div>
</ul>

</html>